doctype html
html
	head
		link(rel='stylesheet', href='bulma.css')
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.0/gh-fork-ribbon.min.css')
	body
		a.github-fork-ribbon(href='https://github.com/hueyy/node-scratchpad', title='View this on Github', style='box-sizing:content-box;') Fork me on GitHub
		section.hero
			.hero-body
				.container
					h1.title
						| Scratchpad
					h2.subtitle
						| Dumping ground for your uninspired ramblings
		section.section
			.container
				article.message
					.message-header
						p trafalgar-existence-frenzy
					.message-body
						| Pherl shook his head. "Not at all. Look, my Outlander, your opinion of us in your heathen agnosticism is what it is - but I am not the entire slave of our mythology, though I may appear so. I am an educated man, sir, and, I hope, an enlightened one. The full depth of our religious customs, in the ritualistic rather than the ethical sense, is for the masses."
				article.message
					.message-header
						p trafalgar-existence-frenzy
					.message-body
						| Pherl shook his head. "Not at all. Look, my Outlander, your opinion of us in your heathen agnosticism is what it is - but I am not the entire slave of our mythology, though I may appear so. I am an educated man, sir, and, I hope, an enlightened one. The full depth of our religious customs, in the ritualistic rather than the ethical sense, is for the masses."
				article.message
					.message-header
						p trafalgar-existence-frenzy
					.message-body
						| Pherl shook his head. "Not at all. Look, my Outlander, your opinion of us in your heathen agnosticism is what it is - but I am not the entire slave of our mythology, though I may appear so. I am an educated man, sir, and, I hope, an enlightened one. The full depth of our religious customs, in the ritualistic rather than the ethical sense, is for the masses."
		script(src='/vue.js')
		script(src='/vue-resource.js')
		script(src='/about.js')