doctype html
html
	head
		link(rel='stylesheet', href='bulma.css')
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.0/gh-fork-ribbon.min.css')
	body
		a.github-fork-ribbon(href='https://github.com/hueyy/node-scratchpad', title='View this on Github', style='box-sizing:content-box;') Fork me on GitHub
		section#app.section
			.container
				h1.title
					| {{title}}
				h2.subtitle
					| {{subtitle}}
				.notification
					| {{notice}}
					a(href='#',v-on:click='getAll',name='getAllLink')
						|  See samples.
				div.control.is-horizontal
					div.control-label
						label.label Retrieve
					div.control
						p.control
							input.input.is-hovered(type='text', placeholder='secret-code', v-model='secretcode', @keyup.enter='retrieve')
				hr
				article.edit-message(v-if='file.title.length>0')
					p.control
						input.input(type='text',v-model='file.title')
					p.control
						textarea.textarea(v-model='file.message',placeholder='create a new pad')
					p.control
						a.button(v-on:click='save') SAVE
				article.view-all(v-if='list.length>0')
		script(src='/vue.js')
		script(src='/vue-resource.js')
		script(src='/scratchpad.js')
